*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
bin/
dist/
.vagrant/
*.backup
*.tfstate
*.tfstate.*
**/.terraform/*
*.log
*.bak
*~
.*.swp
.idea
.vscode
terraform-provider-sendgrid
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform
scripts/gendocs